<manifest xmlns:android="http://schemas.android.com/apk/res/android"     
    package="com.leads.manager">
    <queries>
  <!-- If your app opens https URLs  xmlns:tools="http://schemas.android.com/tools"  tools:replace="android:label"-->
  
  <intent>
    <action android:name="android.intent.action.VIEW" />
    <data android:scheme="https" />
  </intent>
  <!-- If your app makes calls -->
  <intent>
    <action android:name="android.intent.action.DIAL" />
    <data android:scheme="tel" />
  </intent>

  <intent>
      <action android:name="android.intent.action.SENDTO" />
      <data android:scheme="smsto" />
    </intent>

  <!-- If your app emails -->
  <!-- <intent>
    <action android:name="android.intent.action.SEND" />
    <data android:mimeType="*/*" />
  </intent> -->
</queries>
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> 
<uses-permission android:name="android.permission.USE_EXACT_ALARM" />

<uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />

  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.STORAGE"/> 
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.READ_CALL_LOG" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  
    
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
 <uses-permission android:name="android.permission.WAKE_LOCK" />

     <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
<!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" /> -->
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!-- foregroundServiceType: remoteMessaging -->
<!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" /> -->
<!-- Optional: Add this permission if you want to use bluetooth telephony device like headset/earbuds (min SDK: 23) -->
<!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->



  <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    
   <application
  
        android:label="Lead Manager"
        android:icon="@mipmap/launcher_icon"
        android:requestLegacyExternalStorage="true"
        >
          <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />
        <activity
            android:exported="true"
            android:requestLegacyExternalStorage="true"
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- Displays an Android View that continues showing the launch screen
                 Drawable until Flutter paints its first frame, then this splash
                 screen fades out. A splash screen is useful to avoid any visual
                 gap between the end of Android's launch screen and the painting of
                 Flutter's first frame. -->
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
<meta-data android:name="flutter_deeplinking_enabled" android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
            <!-- App Link sample -->
<!-- <intent-filter>
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
    <data android:scheme="https" android:host="manager.leads.com" android:pathPattern="/leaddetails/.*" />
</intent-filter> -->



<intent-filter android:autoVerify="true">
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
     <data android:scheme="https" android:host="go.1m.fyi" android:pathPattern="/app/leaddetails/.*" />
</intent-filter>

        </activity>
        <activity
              android:exported="true"
              android:name="com.yalantis.ucrop.UCropActivity"
              android:screenOrientation="portrait"
              android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="myFirebaseChannel"/>
        
 
<receiver android:name=".ServiceRestartReceiver"  android:exported="true">
    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
         <action android:name="android.intent.action.BATTERY_LOW" />
    </intent-filter>
</receiver>
            <receiver
                android:name=".BootCompletedReceiver"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>

            <!-- <service android:name="com.leads.manager.CallListenerService" 
            
             android:stopWithTask="false"/> -->
       <!-- <service
           android:name=".TestService"
           android:exported="false" />
            <service android:name=".ConnectivityService" /> -->
  
        <service 
    android:name="com.pravera.flutter_foreground_task.service.ForegroundService"
    android:foregroundServiceType="dataSync|remoteMessaging"
    android:exported="false" />

      

                <!-- <service
            android:name=".CallRecordingService"
            android:foregroundServiceType="mediaProjection" /> -->

        <service
    android:name=".MqttService"
    android:enabled="true"
    android:exported="false" />
    
   <service
        android:name=".MyForegroundService"
           android:foregroundServiceType="phoneCall"
        android:enabled="true"
        android:exported="false" />

    </application>
</manifest>
